{% load i18n %}
{% if not admin_log %}
<p>{% trans 'None available' %}</p>
{% else %}
<ul class="actionlist">
{% for entry in admin_log %}
<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
    {% if entry.is_deletion or not entry.get_admin_url %}
        {{ entry.object_repr }}
    {% else %}
        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
    {% endif %}
    <br/>
    {% if entry.content_type %}
        <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
    {% else %}
        <span class="mini quiet">{% trans 'Unknown content' %}</span>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endif %}